<div class="field-settings-card h-full">
  @if (formService.selectedField(); as selectedField) {
  <div
    class="flex items-center justify-between border-b p-3 text-white !bg-black"
  >
    <h3 class="text-xl font-medium">Field Properties</h3>

    <button
      mat-icon-button
      class="rounded-full cursor-pointer"
      (click)="formService.setSelectedFieldId(null)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="field-settings-content flex flex-col p-3 mt-4 gap-6">
    @for (setting of fieldSettings(); track setting.key) { @switch
    (setting.type) { @case ('text') {
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ setting.label }}</mat-label>
      <input
        matInput
        [ngModel]="fieldvalues()[setting.key]"
        (ngModelChange)="updateField(selectedField.id, setting.key, $event)"
      />
    </mat-form-field>
    } @case ('checkbox') {
    <div class="flex items-center">
      <mat-checkbox
        [ngModel]="fieldvalues()[setting.key]"
        (ngModelChange)="updateField(selectedField.id, setting.key, $event)"
      >
        {{ setting.label }}
      </mat-checkbox>
    </div>
    } @case ('select') {
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ setting.label }}</mat-label>
      <mat-select
        [ngModel]="fieldvalues()[setting.key]"
        (ngModelChange)="updateField(selectedField.id, setting.key, $event)"
      >
        @for (option of setting.options || []; track option.value) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    } @case ('radio') {
    <div class="flex flex-col gap-2">
      <label class="font-medium">{{ setting.label }}</label>
      <div class="flex flex-col">
        @for (option of setting.options || []; track option.value) {
        <mat-radio-button
          [value]="option.value"
          [checked]="fieldvalues()[setting.key] === option.value"
          (change)="updateField(selectedField.id, setting.key, option.value)"
        >
          {{ option.label }}
        </mat-radio-button>
        }
      </div>
    </div>
    } @case ('dynamic-options') {
    <app-dynamic-options
      [title]="setting.label"
      [options]="fieldvalues()[setting.key]"
      (optionChange)="updateField(selectedField.id, setting.key, $event)"
    />
    } @case ('multi-select') {
    <div class="flex flex-col gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ setting.label }}</mat-label>
        <mat-select
          [ngModel]="fieldvalues()[setting.key]"
          (ngModelChange)="updateField(selectedField.id, setting.key, $event)"
          multiple
        >
          @for (option of fieldvalues()[setting.key] || []; track option.value)
          {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <app-dynamic-options
        [title]="setting.label + ' Options'"
        [options]="fieldvalues()[setting.key]"
        (optionChange)="updateField(selectedField.id, setting.key, $event)"
      />
    </div>
    } @case ('group') {
    <div class="flex flex-col gap-4">
      <h4 class="font-medium">{{ setting.label }}</h4>

      @for (sub of setting.fields || []; track sub.key) {
      <div
        class="flex flex-col gap-2 border p-2 border-gray-200 rounded-md bg-gray-50"
      >
        <h5 class="font-medium">{{ sub.label }}</h5>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Label</mat-label>
          <input
            matInput
            [ngModel]="fieldvalues().address?.fields[sub.key]?.label"
            (ngModelChange)="updateNestedField(selectedField.id, sub.key, 'label', $event)"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Placeholder</mat-label>
          <input
            matInput
            [ngModel]="fieldvalues().address?.fields[sub.key]?.placeholder"
            (ngModelChange)="updateNestedField(selectedField.id, sub.key, 'placeholder', $event)"
          />
        </mat-form-field>

        <mat-checkbox
          [ngModel]="fieldvalues().address?.fields[sub.key]?.required"
          (ngModelChange)="updateNestedField(selectedField.id, sub.key, 'required', $event)"
        >
          Required
        </mat-checkbox>

        @if (sub.key === 'country') {
        <app-dynamic-options
          [title]="'Country Options'"
          [options]="fieldvalues().address?.fields.country?.options || []"
          (optionChange)="updateNestedField(selectedField.id, 'country', 'options', $event)"
        />
        }
      </div>
      }
    </div>

    } @case ('margin') {

    <div class="flex flex-col gap-2">
      <label class="font-medium">{{ setting.label }}</label>

      <div class="grid grid-cols-3 gap-2 w-55 relative mx-auto">
        <div class="col-start-2">
          <label for="">Top</label>
          <mat-form-field appearance="outline" class="w-full margin-field">
            <input
              matInput
              type="number"
              min="0"
              [ngModel]="fieldvalues().margin?.top ?? 0"
              (ngModelChange)="updateMargin('top', $event)"
            />
          </mat-form-field>
        </div>

        <div class="col-start-1">
          <label for="">Right</label>

          <mat-form-field appearance="outline" class="w-full margin-field">
            <input
              matInput
              type="number"
              min="0"
              [ngModel]="fieldvalues().margin?.left ?? 0"
              (ngModelChange)="updateMargin('left', $event)"
            />
          </mat-form-field>
        </div>

        <div class="col-start-3">
          <label for="">Left</label>

          <mat-form-field appearance="outline" class="w-full margin-field">
            <input
              matInput
              type="number"
              min="0"
              [ngModel]="fieldvalues().margin?.right ?? 0"
              (ngModelChange)="updateMargin('right', $event)"
            />
          </mat-form-field>
        </div>

        <div class="col-start-2">
          <label for="">Bottom</label>

          <mat-form-field appearance="outline" class="w-full margin-field">
            <input
              matInput
              type="number"
              min="0"
              [ngModel]="fieldvalues().margin?.bottom ?? 0"
              (ngModelChange)="updateMargin('bottom', $event)"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    }@case ('table-columns') {
    <div class="flex flex-col gap-3">
      <h4 class="font-medium">{{ setting.label }}</h4>

      @for (col of fieldvalues().tableColumns || []; track col.key; let i =
      $index) {
      <div class="flex items-center gap-2 p-2 rounded bg-gray-50">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>Column Name</mat-label>
          <input
            matInput
            [ngModel]="col.label"
            (ngModelChange)="updateTableColumnLabel(selectedField.id, i, $event)"
          />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="removeTableColumn(selectedField.id, i)"
          class="cursor-pointer"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }

      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="addTableColumn(selectedField.id)"
        class="cursor-pointer"
      >
        + Add Column
      </button>
    </div>
    } } }
  </div>
  }
</div>
