<div
  class="field-wrapper"
  [ngStyle]="{
    'margin-top.px': field()['margin']?.top,
    'margin-right.px': field()['margin']?.right,
    'margin-bottom.px': field()['margin']?.bottom,
    'margin-left.px': field()['margin']?.left
  }"
>
  <div class="flex flex-col gap-4">
    <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
      <mat-label>{{ field().address?.fields?.street1?.label }}</mat-label>
      <input
        matInput
        [placeholder]="field().address?.fields?.street1?.placeholder ?? ''"
        [required]="field().address?.fields?.street1?.required"
      />
    </mat-form-field>

    <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
      <mat-label>{{ field().address?.fields?.street2?.label }}</mat-label>
      <input
        matInput
        [placeholder]="field().address?.fields?.street2?.placeholder ?? ''"
        [required]="field().address?.fields?.street2?.required"
      />
    </mat-form-field>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
        <mat-label>{{ field().address?.fields?.city?.label }}</mat-label>
        <input
          matInput
          [placeholder]="field().address?.fields?.city?.placeholder ?? ''"
          [required]="field().address?.fields?.city?.required"
        />
      </mat-form-field>

      <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
        <mat-label>{{ field().address?.fields?.state?.label }}</mat-label>
        <input
          matInput
          [placeholder]="field().address?.fields?.state?.placeholder ?? ''"
          [required]="field().address?.fields?.state?.required"
        />
      </mat-form-field>

      <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
        <mat-label>{{ field().address?.fields?.zipcode?.label }}</mat-label>
        <input
          matInput
          type="number"
          [placeholder]="field().address?.fields?.zipcode?.placeholder ?? ''"
          [required]="field().address?.fields?.zipcode?.required"
        />
      </mat-form-field>

      <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
        <mat-label>{{ field().address?.fields?.country?.label }}</mat-label>
        <mat-select [required]="field().address?.fields?.country?.required">
          @for (option of field().address?.fields?.country?.options || []; track
          option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
