.bg_img {
  background-color: lightgray;
  border-radius: 0 25% 25% 0;
}

.btn-login {
  background: #8c8c8c;
  background: linear-gradient(
    180deg,
    rgba(140, 140, 140, 1) 0%,
    rgba(64, 64, 64, 1) 35%
  );
  color: white;
  width: 100%;
  padding: 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-google,
.btn-facebook {
  border: 1px solid #9aa0b6;
  padding: 0.75rem 0.5rem;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.login-input {
  width: 100%;
  border: 1px solid #9aa0b6;
  border-radius: 7px;
  padding: 0.75rem 0.5rem;
  margin-top: 1rem;
  transition: 0.5s;
}

input:focus-visible {
  outline: none;
  border: 1px solid #757988;
}

input::placeholder {
  color: #9aa0b6;
}

.or-line {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: gray;
}

.or-line::before,
.or-line::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d1d5db;
  margin: auto;
}

.err {
  color: red;
}
