table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th,
  td {
    border: 1px solid #d1d5db;
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: #f9fafb;
    font-weight: 500 !important;
  }

  td:first-child {
    text-align: left;
    font-weight: 500;
    color: #374151;
  }
}

mat-radio-button {
  transform: scale(1.1);
}

@media (max-width: 640px) {
  table {
    font-size: 13px;
  }
}
