<!-- <div
  class="field-wrapper"
  [ngStyle]="{
    'margin-top.px': field()['margin']?.top,
    'margin-right.px': field()['margin']?.right,
    'margin-bottom.px': field()['margin']?.bottom,
    'margin-left.px': field()['margin']?.left
  }"
>
  <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
    <mat-label>{{ field().label }}</mat-label>
    <input
      matInput
      [type]="field().inputType || 'text'"
      [required]="field().required"
      [placeholder]="field().placeholder || ''"
    />
  </mat-form-field>
</div> -->

<div
  class="field-wrapper"
  [ngStyle]="{
    'margin-top.px': field()['margin']?.top ?? 0,
    'margin-right.px': field()['margin']?.right ?? 0,
    'margin-bottom.px': field()['margin']?.bottom ?? 0,
    'margin-left.px': field()['margin']?.left ?? 0
  }"
>
  <mat-form-field [appearance]="field().fieldStyleType" class="w-full">
    <mat-label>{{ field().label }}</mat-label>
    <input
      matInput
      [type]="field().inputType || 'text'"
      [required]="field().required"
      [placeholder]="field().placeholder || ''"
    />
  </mat-form-field>
</div>
