<div
  class="p-4 bg-white rounded-lg h-[calc(100vh-150px)] overflow-y-auto border-gray-200 shadow-sm"
>
  <!-- <h3 class="text-xl font-medium mb-4">Form Elements</h3> -->
  <div
    class="flex flex-col gap-6 elements-menu"
    cdkDropList
    cdkDropListSortingDisabled="true"
    [cdkDropListData]="'field-selector'"
    [cdkDropListEnterPredicate]="noDropAllowed"
  >
    @for (category of categories; track category.title) {
    <section class="flex flex-col gap-3">
      <div class="flex items-center justify-between">
        <p class="text-sm font-medium text-gray-600 uppercase tracking-wide">
          {{ category.title }}
        </p>
      </div>
      <div class="grid grid-cols-2 gap-3">
        @for (type of category.fields; track type.type) {
        <app-field-button [field]="type" />
        }
      </div>
    </section>
    }
  </div>
</div>
