@use "material";
@import "./app/themes/greentheme.css";
@import "tailwindcss";

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-drop-list-dragging:not(.elements-menu) {
  border: 2px solid lightgray !important;
  background-color: lightgray !important;
}

::view-transition-old(.field-transition),
::view-transition-new(.field-transition) {
  height: 100%;
}

//=========||  SCOLLBAR  ||=========//

.slide-panel {
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none;
}

// ===================================================

.margin-field {
  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: var(
      --mat-form-field-container-vertical-padding,
      5px
    ) !important;
    padding-bottom: var(
      --mat-form-field-container-vertical-padding,
      5px
    ) !important;
  }

  .mat-mdc-form-field-infix {
    min-height: var(--mat-form-field-container-height, 30px) !important;
  }
}
