@for (row of formService.rows(); track row.id) {
<div
  [style.view-transition-name]="'row-' + row.id"
  class="relative p-5 pt-2 ps-10 mb-4 bg-white rounded-lg border-2 border-dashed border-gray-200"
>
  <div class="flex items-center justify-between mb-2">
    <span class="text-(--mat-sys-primary)">Row</span>

    <div class="flex items-center gap-2">
      <button
        mat-stroked-button
        color="primary"
        (click)="formService.addColumnToRow(row.id)"
      >
        + Add Column
      </button>

      <button mat-icon-button (click)="formService.deleteRow(row.id)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  @if (!row.columns || row.columns.length === 0) {
  <div
    cdkDropList
    [cdkDropListData]="row.id"
    (cdkDropListDropped)="onDropInRow($event, row.id)"
    [cdkDropListOrientation]="'mixed'"
    [style.view-transition-name]="'row-drop-' + row.id"
    class="relative flex flex-wrap gap-4 p-4 bg-white rounded-lg border-2 border-dashed border-gray-100"
  >
    @if (row.fields && row.fields.length > 0) { @for (field of row.fields; track
    field.id) {
    <app-form-field
      cdkDrag
      [cdkDragData]="field"
      class="flex-1"
      [field]="field"
      [style.view-transition-name]="'field-' + field.id"
    />
    } } @else {
    <div
      class="w-full p-4 border border-dashed border-gray-200 text-gray-400 border-primary-container rounded-md text-center"
    >
      Drag and drop elements here
    </div>
    }
  </div>
  } @if (row.columns && row.columns.length > 0) {
  <div class="flex gap-4 flex-wrap">
    @for (col of row.columns; track col.id) {
    <div
      cdkDropList
      [cdkDropListData]="col.id"
      (cdkDropListDropped)="onDropInCol($event, col.id)"
      class="relative flex flex-col flex-1 p-4 pt-1 mb-4 bg-white rounded-lg border-2 border-dashed border-gray-200"
    >
      <div class="flex items-center justify-between">
        <span class="text-(--mat-sys-primary)">Column</span>
        <button mat-icon-button (click)="formService.deleteCol(col.id)">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="flex gap-4 flex-wrap">
        @if (col.fields && col.fields.length > 0) { @for (field of col.fields;
        track field.id) {
        <app-form-field
          cdkDrag
          [cdkDragData]="field"
          class="flex-1"
          [field]="field"
          [style.view-transition-name]="'field-' + field.id"
        />
        } } @else {
        <div
          class="w-full p-4 border border-dashed border-gray-200 text-gray-400 border-primary-container rounded-md text-center"
        >
          Drag and drop elements here
        </div>
        }
      </div>
    </div>
    }
  </div>
  }

  <div class="absolute left-0 flex gap-0 flex-col top-1/2 -translate-y-1/2">
    <button
      mat-icon-button
      [disabled]="$first"
      (click)="formService.moveRowUp(row.id)"
    >
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="$last"
      (click)="formService.moveRowDown(row.id)"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
}
